.position-fixed {
  width: 20rem;
  height: 100%;
  margin: 2.5rem 0 0 3rem;
}
.sidebar-flex {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  flex: 0 0 auto;
}
.product-container {
  display: flex;
  column-gap: 2rem;
  padding: 1rem;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 2rem;
}
