.header {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
}
.nav-padding {
  padding: 0 2rem 0 2rem;
}
.nav-component {
  display: flex;
  align-items: center;
}
.nav-list-items-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7rem;
}
.icons-alignment {
  margin: 2.5rem 3rem 0 0;
  text-decoration: none;
}
.link-alignment {
  margin: 4.9rem 7rem 0 0;
}

.home-alignment {
  margin: 4.9rem 2rem 0 0;
}

.link:hover {
  cursor: pointer;
  color: var(--PRIMARY-HOVER);
}
.lg-margin-top {
  margin-top: 4.5rem;
}
.content-header {
  font-size: 4.3rem;
  font-weight: 700;

  letter-spacing: 1px;
  color: var(--COLOR-BLACK);
  display: flex;
  gap: 1rem;
}

.navbar-icons {
  font-size: 2.5rem;
  color: var(--ICON-COLOR);
}
.navbar-icons:hover {
  color: var(--ICON-HOVER);
}
.icon-over-badge {
  left: 2rem;
  bottom: 1.5rem;
}
.ecom-badge-wrapper {
  position: relative;
}
.badge {
  background-color: var(--PRIMARY-COLOR);
}
