.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--COLOR-WHITE);
  padding: 3rem;
  z-index: 500;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--BACKGROUND-MODAL);
}
.btn-cross-modal {
  position: absolute;
  top: 5px;
  right: 1rem;
}
.btn-cross {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
