.Details-page {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  min-width: 60vh;
}
.Details-page img {
  width: 100%;
  max-width: 70rem;
  height: 50rem;
  object-fit: contain;
}
